---
layout: page
nav: Contact
---

<link rel="stylesheet" type="text/css" href="/css/form.min.css">
<style type="text/css">/* Enable image placeholders */@-moz-document url-prefix(http), url-prefix(file) { img:-moz-broken{-moz-force-broken-image-icon:1; width:24px;height:24px;}}</style>

<h1>Contact Us</h1>
<p>We are Colin and Shirley Dugdale and we live in West Sussex in the south of England.</p>

<p>We fell in love with Florida when we first visited in 1981 and when we had the opportunity to purchase our dream home on Southern Dunes in 2003 we couldn't say no.</p>

<p>Working in the airline industry allows us to visit Florida several times a year and we take great pride in personally maintaining our home from home to the high standard our numerous repeat guests expect.</p>

<p>On hand in Florida our family run management team, headed by Marie and Neale, are there if you have any queries or problems during your vacation.</p>

<p>We love our Florida home and know that you will too.</p>
<p>To contact us, please complete the form below:</p>

{% include _contact_us_form.html %}

<p>Or you can contact us directly:</p>
<ul>
  <li><strong>Phone:</strong> <a href="callto:+441293883035">+44 (0)1293 883035</a></li>
  <li><strong>Email:</strong> <a href="mailto:floridagolfhome1@gmail.com">floridagolfhome1@gmail.com</a></li>
  {% if site.inc.facebook %}
  <li><strong>Facebook:</strong> <a href="https://facebook.com/{{ site.inc.facebook }}" title="Find us on Facebook" target="_blank">Florida Golf Home</a></li>
  {% endif %}
</ul>
