<div class="wrapper" id="templateContainer">
  <div id="templateBody" class="bodyContent">
    <div id="mc_embed_signup">
      <form action="//floridagolfhome.us9.list-manage.com/subscribe/post?u=35d20f037e1892c52bbf0a4c5&amp;id=f7d8e3481b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-NAME">Name </label>
            <input type="text" value="" name="NAME" class="" id="mce-NAME">
          </div>
          <div class="mc-field-group size1of2">
            <label for="mce-PHONE">Phone Number </label>
            <input type="text" name="PHONE" class="" value="" id="mce-PHONE">
          </div>
          <div class="mc-field-group">
            <label for="mce-ENQUIRY">Enquiry </label>
            <textarea style="width:100%" name="ENQUIRY" rows="8" class="required" id="mce-ENQUIRY" ></textarea>
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_35d20f037e1892c52bbf0a4c5_f7d8e3481b" tabindex="-1"></div>
          <div class="clear">
            <input type="submit" value="Send Enquiry" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';fnames[2]='ADDRESS';ftypes[2]='text';fnames[3]='PHONE';ftypes[3]='phone';fnames[4]='ENQUIRY';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
