---
layout: page
---
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<link href="/css/lightbox.css" rel="stylesheet" />

{% gallery gallery %}
house_front.jpg:: Welcome
family_room_6.jpg:: Family room
family_room_7.jpg:: Family room
family_room_8.jpg:: Family room
family_room_looking_to_pool_deck.jpg:: Family room through to pool deck
breakfast_nook.jpg:: Breakfast nook
kitchen_through_to_nook.jpg:: Kitchen through to breakfast nook
dining_table.jpg:: Dining table
games_room.jpg:: Games room
bedroom_master.jpg:: Master bedroom
master_ensuite.jpg:: Master bedroom en-suite
second_master.jpg:: Second master bedroom
bedroom_3.jpg:: Third bedroom
bedroom_3_double_bed.jpg:: Third bedroom double bed
bedroom_4.jpg:: Fourth bedroom
pool_1.jpg:: Pool
pool_2.jpg:: Pool
pool_3.jpg:: Pool
pool_5.jpg:: Pool
spa_1.jpg:: Spa and pool
lanai_area_2.jpg:: Lanai area
golf_bunker.jpg:: Southern Dunes golf course
{% endgallery %}
